## **Python Basics**

Part IV: This repository is a quick reference for basic Python operations, initial concepts, and small details that are easy to forget.

*  **Defining Functions in Python (`def`) â†’*

* Introduction

In [2]:
# Introduction to a Very Simple Function
def function(parameter_1):
    print("Hello, world! Welcome, " + parameter_1)

In [3]:
function("Heitor ")

Hello, world! Welcome, Heitor

In [4]:
# another way is:
def function(name='Default Name'):
    print("Hello, " + name)

In [5]:
function('Maria')

Hello, Maria

In [6]:
# Creating Other Functions
def square(num):
    return num ** 2
result = square(3)

In [7]:
print(result)

9

* **In Summary**

**=>** Use `return` when the function needs to produce a result that will be used somewhere else.  

**=>** Use `print` only when the goal is to display something on the screen.

* **Understanding the `map()` Function in Python**

In [8]:
def times_two(num): # this function multiplies the input by  2
    return num * 2  # the result is returned to the caller

# A different structure for this function could be:
# def times_two(num): return num * 2

In [9]:
times_two(4)

8

In [10]:
conj= [1, 2, 3, 4, 5] # a list of numbers
list(map(times_two, conj))  # this returns a map object

[2, 4, 6, 8, 10]

## **When to use `lambda` in Python?**

* **`Lambda`** creates anonymous, unnamed functions, usually used in short and simple situations.

In [11]:
# normally, we would use:
def add(x, y):    
    return x + y
print(add(2, 3))

# but we can also use lambda:
add = lambda x, y: x + y     # lambda function
print(add(2, 3))             # calling the lambda function

5
5

In [12]:
seq = [1, 2, 3, 4, 5]
list(map(lambda num: num * 3, seq))  # using lambda inside map

[3, 6, 9, 12, 15]

In [13]:
# Naw, use filter for filtering a list based on a condition
list(filter(lambda num: num % 2 == 0, seq))  # filtering even numbers from the list

[2, 4]

In [14]:
# lowercase and uppercase string methods
s = "Hello, my name is $HEITOR"
s.lower()  # returns the string in lowercase

'hello, my name is $heitor'

In [15]:
s.upper()  # returns the string in uppercase

'HELLO, MY NAME IS $HEITOR'

In [16]:
# Naw separate strings into lists
s.split()  # splits the string at whitespace

['Hello,', 'my', 'name', 'is', '$HEITOR']

In [17]:
# Its possible to specify the separator
s.split(',')  # splits the string at each comma

['Hello', ' my name is $HEITOR']

In [18]:
suk = "Morning, my name is $HEITOR"

In [19]:
# Alse, you can:
suk.split('$')[1]  # splits the string at 'my' and returns the second part

'HEITOR'

In [20]:
# Return to dicctionaries
d = {'k1': 1, 'k2': 2}
d.keys()  # returns the keys of the dictionary

dict_keys(['k1', 'k2'])

In [21]:
d.items()  # returns the items of the dictionary

dict_items([('k1', 1), ('k2', 2)])

In [22]:
d.values()  # returns the values of the dictionary

dict_values([1, 2])

In [23]:
lst= [1, 2, 3]
lst.pop()  # removes and returns the last item in the list

3

In [24]:
print(lst)

[1, 2]

In [25]:
# So, you can make this:
lste = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
so = lste.pop() # removes and returns the last item in the list
print(lste)
print(so)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [26]:
qlq = lste.pop(3)  # removes and returns the item at index 3
print(lste)
print(qlq)

[1, 2, 3, 5, 6, 7, 8, 9]
4

In [27]:
lste.append("new")
print(lste) # adds 11 to the end of the list

[1, 2, 3, 5, 6, 7, 8, 9, 'new']

* **Operator**

In [28]:
'X' in [1, 2, 3]  # checks if X is in the list

False

In [29]:
'X' in ['X', 'Y', 'Z']  # checks if X is in the list

True

In [30]:
# Now something different:
x = [(1, 2), (3, 4), (5, 6)] # a list of tuples
x[2]  # returns the first tuple in the list

(5, 6)

In [31]:
x[2][1]  # returns the second element of the first tuple in the list

6

In [32]:
#
for item in x:
    print(item) # prints each tuple in the list

(1, 2)
(3, 4)
(5, 6)

In [33]:
# Another way to do it:
for (a, b) in x:
    print(a) # prints the first element of each tuple in the list

1
3
5

**Well, that's all for now. See you later!**