## **Python Basics**

This repository is a quick reference for basic Python operations, initial concepts, and small details that are easy to forget.  

* **Arithmetic Operations**

In [1]:
# Addition (sum - integer)
1 + 1

2

In [2]:
# Subtraction (difference - integer)
5 - 3

2

In [3]:
# Multiplication (product - integer)
4 * 2

8

In [4]:
# Division (quotient-float)
8 / 4

2.0

In [5]:
# Floor Division (quotient-integer)
8 // 3

2

In [6]:
# Modulus (remainder of division - integer)
8 % 3

2

In [7]:
# Exponentiation (power - integer)
2 ** 4

16

* **Assignment Operators**

In [8]:
X = 2
X += 3  # X = X + 3  (X = 2 + 3 = 5)
X *= 2  # X = X * 2  (X = 5 * 2 = 10)
X -= 4  # X = X - 4  (X = 10 - 4 = 6)
X /= 2  # X = X / 2  (X = 6 / 2 = 3.0)
X //= 2 # X = X // 2 (X = 3.0 // 2 = 1.0)
X %= 2  # X = X % 2  (X = 1.0 % 2 = 1.0)
X **= 3 # X = X ** 3 (X = 1.0 ** 3 = 1.0)
X

1.0

* **Comparison Operators**

In [9]:
5 == 5   # True (equal)
3 == 5   # False (equal)
5 != 3   # True (not equal)
3 != 3   # False (not equal)
5 > 2    # True (greater than)
2 > 5    # False (greater than)
5 < 10   # True (less than)
10 < 5   # False (less than)
5 <= 5   # True (less than or equal to)
5 >= 3   # True (greater than or equal to)
3 >= 5   # False (greater than or equal to)

False

* **Logical Operators**

In [10]:
True and False   # False (both need to be True)
True or False    # True  (one needs to be True)
not True         # False (negation)

False

* **Lists**

In [11]:
my_list = [1, 2, 3]

In [12]:
my_list.append(4)  # Add an element to the end of the list

In [13]:
my_list

[1, 2, 3, 4]

In [14]:
my_list[0] # Access the first element (index 0)

1

In [15]:
my_list[1:3] # [2, 3] Access elements from index 1 to 2 (3 is excluded)

[2, 3]

In [16]:
# You can put one list inside another list (nested lists)
nested_list = [1, 2, [3, 4], 5, [6, 7]]
nested_list[2]  # Access the nested list [3, 4]

[3, 4]

In [17]:
# You can acess elements inside the nested list
nested_list[4][0]  # Access the first element of the nested list, which is 3

6

* **String Formatting**

In [18]:
num = 23
name = "Heitor"

"I am {} years old and my name is {}.".format(num, name)

'I am 23 years old and my name is Heitor.'

In [19]:
# Another way to format strings: 
"I am {A} years old and my name is {B}.".format(A=num, B=name)

'I am 23 years old and my name is Heitor.'